<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <title><%= htmlWebpackPlugin.options.title || 'Emotion Client'%></title>
</head>

<body>
<header>
    <h1>Webpage Emotion Analysis</h1>
</header>

<section id="wrapper">

    <div id="app"></div>

</section>
</body>

</html>
